:root {
  --text-color: white;
  --primary-text-color: rgb(255, 199, 88);
  --secondary-text-color: rgb(116, 116, 217);
  --tertiary-text-color: rgb(184, 83, 227);

  --link-text-color: #609FFF;
  --link-text-hover-color: #b1d0ff;

  --button-text-color: ;
  --button-text-hover-color: ;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgb(188, 201, 249);

  font-family: 'Courier New', Courier, monospace;
  color: var(--text-color);
}

h1 {
  padding-top: 1rem;
  color: var(--primary-text-color);
}

h2 {
  padding-left: 1rem;
  color: var(--secondary-text-color);
}

section {
  background-color: #1b1f3c;

  margin: 0;
  padding: 0;
  padding-top: 1rem;
  padding-left: 1rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: start;

  li a {
    color: var(--link-text-color);

    &:hover {
      color: var(--link-text-hover-color);
    }
  }
}

nav {
  height: 50px;
  margin: 0;
  background-color: rgb(37, 37, 104);
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;

  position: fixed;
  top: 0;
  width: 100%;

  div {
    padding: 0 10px;
  }

  .title {
    color: burlywood;
    text-decoration: none;
    font-size: 32px;
  }

  i {
    color: orange;
    size: 50px;

    &:hover { color: rgb(255, 196, 88); }
  }

  #menu {
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      margin: 0;

      li {
        padding: 5px 10px 2px 10px;
        margin: 0 0 0 5px;
        border: 2px solid black;
        background-color: #424A7C;
        border-radius: 5px 5px 0 0;

        a {
          color: cornsilk;
          text-decoration: none;
          text-wrap: nowrap;

          &:hover {
            color: rgb(255, 218, 82);
          }
        }
      }
    }
  }

  #mobile {
    display: none;
  }
}

.hero {
  padding: 0 1rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;

  div:nth-of-type(1) {
    color: #609FFF;
    font-size: 64px;
    align-self: start;
  }

  div:nth-of-type(2) {
    color: #d16e34;
    font-size: 96px;
    align-self: end;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero-img {
    height: 500px;
    width: 500px;
    background-color: #f1ead6;
    border: 2px solid black;
  }
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

/* 760px */
@media only screen and (max-width: 760px) {

  nav {
    #menu {
      display: block;
      position: absolute;
      height: 100vh;
      top: 50px;
      right: 0;

      background-color: #0c133e;

      ul {
        flex-direction: column;
        padding: 0;
      }
    }

    #mobile {
      display: flex;
      height: 100%;
      align-items: center;
      background-color: #1b1f3c;
      &:hover { background-color: #2b2f4c;}
      font-size: 30px;
    }
  }
}